.dash {
    display: flex;
    flex-direction: row;
    padding-top: 70px;
    justify-content: center;
}

.main {
    width: fit-content;
}

.dashboard-item {
    display: flex;
    width: 626px;
    position: relative;
    margin-top: 20px;
}

.dashboard-background {
    width: 540px;
    background-color: #ffffff;
    position: relative;
    border-radius: 3px;
}

.post-content-box {
    width: 540px;
    display: block;
    position: relative;
    /* margin: 0px 0px 40px 0px; */
}

.post-content-item {
    box-sizing: border-box;
    width: 100%;
    max-width: 540px;
    margin: 0px 0px 5px 0px;
}

.dashboard-item h1.post-content-item {
    box-sizing: border-box;
    font-family: Gibson, Helvetica Neue, HelveticaNeue, Helvetica, Arial, sans-serif;
    font-size: 36px;
    font-weight: 400;
    padding: 0px 20px;
    margin: 10px 0px 10px 0px;
    line-height: 1.5em;
    color: #444444;
}

.dashboard-item p.post-content-item {
    box-sizing: border-box;
    font-family: Gibson, Helvetica Neue, HelveticaNeue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    padding: 0px 20px;
    margin: 0px 0px 10px 0px;
    line-height: 1.5em;
    color: #444444;
    letter-spacing: 0.1px;
}

.dashboard-background a.user-link {
    display: inline-block;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: bold; 
    color: rgba(68, 68, 68, 1);
    text-decoration: none;
    margin: 16px 0px 5px 16px;
    transition: 200ms ease;
}

.dashboard-background a.user-link:hover {
    color: rgba(10, 10, 10, 1);
    transition: 200ms ease;
}

.dashboard-item a {
    color: inherit;
    text-decoration: inherit;
}

.avatar-link {
    height: fit-content;
    width: fit-content;
}


.dashboard-item .link-link-container {
    padding: 0px 20px;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.1);
}

.dashboard-item a.link-link {
    padding: 0px 1px;
    height: 100%;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.55);
    font-weight: bold;
    line-height: 1.5em;
    transition: 200ms ease;
}

.dashboard-item .link-link-container .link_url:hover {
    color: rgba(0, 0, 0, 0.75);
    transition: 200ms ease;
}

.dashboard-item a.link-link:hover {
    color: rgba(0, 0, 0, 0.75);
    transition: 200ms ease;
}

.link-url {
    font-size: 13px;
    line-height: 1.5em;
}

.link-alias {
    margin-top: 6px;
    font-size: 24px;
    line-height: 1em;
}




.dashboard-item .source-link-container {
    padding: 0px 20px;
    margin-top: 10px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
    font-size: 13px;
    text-overflow: ellipsis;
    max-width: 540px;
}

.dashboard-item a.source-link {
    box-sizing: border-box;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
    transition: 200ms ease;
}

.dashboard-item a.source-link:hover {
    text-decoration: underline;
    transition: 200ms ease;
}







.avatar {
    box-sizing: border-box;
    position: relative; 
    margin-right: 20px; 
    border-radius: 3px;
}

.avatar-image {
    max-height: 66px;
    width: 66px;
    border-radius: 3px;
    position: -webkit-sticky;
    position: sticky;
    top: 72px;
    transition: 600ms ease;

    /* animations */
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.avatar-image:hover {
    opacity: 90%;
    transition: 600ms ease;

    /* animations */
    -webkit-animation-name: hvr-buzz-out;
    animation-name: hvr-buzz-out;
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

.back-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
}

/* out of content message */
.out-of-content {
    color: white;
    background-color: transparent;
    text-align: center;
}

.out-of-content-message {
    margin: 20px;
    padding-bottom: 40px;
    letter-spacing: 1px;
    font-size: 18px;
    opacity: 0.3;
}

.transparent {
    opacity: 0;
}

.post-footer {
    height: 45px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.number-notes {
    font-size: 13px;
    font-weight: bold;
    margin-left: 20px;
    color: rgba(0, 0, 0, 0.5)
}

.post-interaction-icons {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    font-size: 20px;
}

/* animations */
.post-interaction-icon {
    color: rgba(0, 0, 0, .5);
    margin-left: 16px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.post-interaction-icon:hover, .post-interaction-icon:focus, .post-interaction-icon:active  {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}


/* select heart */
.heart {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.heart {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.heart:active {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

.heart:active {
    color: red;
}










