.dash {
    display: flex;
    flex-direction: row;
    padding-top: 70px;
    justify-content: center;
    overflow-wrap: break-word;
}

.main {
    width: fit-content;
}

.dashboard-item {
    display: flex;
    width: 626px;
    position: relative;
    margin-top: 20px;
}

.dashboard-background {
    width: 540px;
    background-color: #ffffff;
    position: relative;
    border-radius: 3px;
}

.post-content-box {
    width: 540px;
    display: block;
    position: relative;
    /* margin: 0px 0px 40px 0px; */
}

/* .fold-link {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid red;
    pointer-events: none;
    z-index: 102;
} */

.fold{
    width: 100px;
    height: 48px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 102;
    border-radius: 3px;
    transition: all ease .5s;
}

.fold:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-style: solid;
  border-width: 0 0px 0px 0;
  border-color: rgb(200, 200, 200) #001935;
  transition: all ease .5s;
  -moz-border-radius: 0 0 0 3px;
  border-radius: 0 0 0 3px;
}

.fold:hover:before {
  border-width: 0 18px 18px 0;
  border-color: rgb(200, 200, 200) #001935;
  -moz-border-radius: 0 0 0 3px;
  border-radius: 0 0 0 3px;
}


.post-content-item {
    box-sizing: border-box;
    width: 100%;
    max-width: 540px;
    margin: 0px 0px 5px 0px;
}

.explore-content {
    /* max-width: 100px; */
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.dashboard-item h1.post-content-item {
    box-sizing: border-box;
    font-family: Gibson, Helvetica Neue, HelveticaNeue, Helvetica, Arial, sans-serif;
    font-size: 36px;
    font-weight: 400;
    padding: 0px 20px;
    margin: 10px 0px 10px 0px;
    line-height: 1.5em;
    color: #444444;
}

.dashboard-item p.post-content-item {
    box-sizing: border-box;
    font-family: Gibson, Helvetica Neue, HelveticaNeue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    padding: 0px 20px;
    margin: 0px 0px 10px 0px;
    line-height: 1.5em;
    color: #444444;
    letter-spacing: 0.1px;
}

.dashboard-item div.post-content-item-html {
    box-sizing: border-box;
    font-family: Gibson, Helvetica Neue, HelveticaNeue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    padding: 0px 20px;
    margin: 0px 0px 10px 0px;
    line-height: 1.5em;
    color: #444444;
    letter-spacing: 0.1px;
}

.dashboard-background a.user-link {
    display: inline-block;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: bold; 
    color: rgba(68, 68, 68, 1);
    text-decoration: none;
    margin: 16px 0px 5px 16px;
    transition: 200ms ease;
}

.dashboard-background a.user-link:hover {
    color: rgba(10, 10, 10, 1);
    transition: 200ms ease;
}

.dashboard-item a {
    color: inherit;
    text-decoration: inherit;
    border: none;
}

.avatar-link {
    height: fit-content;
    width: fit-content;
    border: none;
}


.dashboard-item .link-link-container {
    padding: 0px 20px;
    margin: 10px 0px;
    background-color: rgba(0, 0, 0, 0.1);
}

.dashboard-item a.link-link {
    padding: 0px 1px;
    height: 100%;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.55);
    font-weight: bold;
    line-height: 1.5em;
    transition: 200ms ease;
}

.dashboard-item .link-link-container .link_url:hover {
    color: rgba(0, 0, 0, 0.75);
    transition: 200ms ease;
}

.dashboard-item a.link-link:hover {
    color: rgba(0, 0, 0, 0.75);
    transition: 200ms ease;
}

.link-url {
    font-size: 13px;
    line-height: 1.5em;
}

.link-alias {
    margin-top: 6px;
    font-size: 24px;
    line-height: 1em;
}




.dashboard-item .source-link-container {
    padding: 0px 20px;
    margin-top: 10px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
    font-size: 13px;
    text-overflow: ellipsis;
    max-width: 540px;
}

.dashboard-item a.source-link {
    box-sizing: border-box;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
    transition: 200ms ease;
    border: none;
}

.dashboard-item a.source-link:hover {
    text-decoration: underline;
    transition: 200ms ease;
}







.avatar {
    box-sizing: border-box;
    position: relative; 
    margin-right: 20px; 
    border-radius: 3px;
    border: none;
}

.avatar-image {
    max-height: 66px;
    /* height: 66px; */
    width: 66px;
    border-radius: 3px;
    position: -webkit-sticky;
    position: sticky;
    top: 72px;
    transition: 600ms ease;
    border: none;

    /* animations */
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    /* box-shadow: 0 0 1px rgba(0, 0, 0, 0); */
}

.avatar-image:hover {
    opacity: 90%;
    transition: 300ms ease;

    /* animations */
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.back-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
}

.back-to-top-corner {
    position: fixed;
    right: 10px;
    bottom: 10px;
}

/* out of content message */
.out-of-content {
    color: white;
    background-color: transparent;
    text-align: center;
}

.out-of-content-message {
    margin: 20px;
    padding-bottom: 40px;
    letter-spacing: 1px;
    font-size: 18px;
    opacity: 0.3;
}

.transparent {
    opacity: 0;
}

.post-footer {
    height: 45px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.number-notes {
    font-size: 13px;
    font-weight: bold;
    margin-left: 20px;
    color: rgba(0, 0, 0, 0.5)
}

.post-interaction-icons {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    font-size: 20px;
}

/* animations */
.post-interaction-icon {
    color: rgba(0, 0, 0, .5);
    margin-left: 16px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    /* box-shadow: 0 0 1px rgba(0, 0, 0, 0); */
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.post-interaction-icon:hover, .post-interaction-icon:focus, .post-interaction-icon:active  {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}


/* select heart */
.heart {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  /* box-shadow: 0 0 1px rgba(0, 0, 0, 0); */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.heart {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.heart:active {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

.heart:active {
    color: red;
}

.gear-dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: -30px;
    bottom: -70px;
    z-index: 105;
    width: 130px;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 3px;
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.2);
}

.gear-dropdown > div {
    font-size: 14px;
    color: #444444;
    /* margin: 10px; */
    padding: 12px;
    transition: 600ms ease;
}

.gear-dropdown > div:hover {
    background-color: rgba(176, 196, 222, 0.242);
    transition: 600ms ease;
}

.copied-alert {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 95px;
    bottom: -30px;
    z-index: 101;
    width: 80px;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 3px;
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.copied-alert > div {
    font-size: 14px;
    color: #444444;
    /* margin: 10px; */
    padding: 12px;
    transition: 600ms ease;
}

.hidden {
    /* display: none; */
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.8s, opacity 0.8s ease;
}






/* 
.display-enter, .display-appear {
  top: var(--menu-starting-top);
  width: var(--toggler-width);
  max-height: var(--toggler-height);
  color: var(--fade-from-color);
  background-color: var(--toggler-bg-color);
}
.display-enter-active, .display-appear-active {
  top: var(--menu-ending-top);
  width: var(--menu-width);
  max-height: var(--menu-max-height);
  color: var(--fade-to-color);
  background-color: var(--menu-bg-color);
  transition: all var(--timeout);
} 
*/




 


// comments 
.post-comments {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 106;
    width: 300px;
    min-height: 150px;
    max-height: 400px;
    font-size: 13px;
    bottom: -132px;
    right: 160px;
    // bottom: -30px;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 3px;
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.2);
    // text-align: center;
}

.post-comments-title {
    display: flex;
    justify-content: center;
    align-items: center;
    // height: 50px;
    font-weight: 700;
    font-size: 14px;
    border-bottom: 1px solid lightgrey;
    color: #444444;
    text-align: center;
    padding: 15px;
}

.post-comments-list {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
    text-align: left;
    font-size: 13px;
    color: #444444;
    background-color: #F2F2F2;
    height: 100%;
    padding: 10px 15px;
    min-height: 50px;
    overflow: scroll;
}

.post-comment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 6px;
    background-color: white;
    padding: 10px;
    margin: 5px 0px;
}

.post-comment-content {
    width: 93%;
}

.post-comments-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    border-top: 1px solid lightgrey;
    color: #444444;
    text-align: center;
    // padding: 0px 10px;
}

.post-comments-form input {
    margin: 15px;
}

.post-comments-form button {
    margin: 15px 15px 15px 0px;
    padding: 0px;
}

.comment-text-input {
    width: 100%;
}

.comment-form-button {
    font-weight: 700;
    color: #00B8FF;
}

.trash {
    color: #4444442f;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.trash:hover {
    color: #44444454;
    transition: 300ms ease;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
}

.x {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #4444442f;
}

.x:hover {
    color: #ad3232b7;
    transition: 300ms ease;
    cursor: pointer;
}

// #mydivheader {
//   cursor: move;
// }

.temp {
    padding: 10px
}

