/* ---------------------------------------------------- */
/* start: all */
/* ---------------------------------------------------- */

body {
    background-color: #001935;
    font-family: Helvetica, sans-serif, Arial;
}

/* ---------------------------------------------------- */
/* end: all */
/* ---------------------------------------------------- */







/* ---------------------------------------------------- */
/* start: top left 't' logo */
/* ---------------------------------------------------- */

.tumblr-icon {
    font-size: 34px;
    color: whitesmoke;
    /* transition: color .3s ease-in-out;
	-moz-transition: color .3s ease-in-out;
    text-decoration: none; */
}

.tumblr-icon:hover {
    -webkit-animation: zomg 1.0s infinite;
    animation: zomg 1.0s infinite;
}

@-webkit-keyframes zomg {
    0%, 100% { color: #7ccdea; }
    16%      { color: #0074d9; }
    32%      { color: #2ecc40; }
    48%      { color: #ffdc00; }
    64%      { color: #b10dc9; }
    80%      { color: #ff4136; }
}

@keyframes zomg {
    0%, 100% { color: #7ccdea; }
    16%      { color: #0074d9; }
    32%      { color: #2ecc40; }
    48%      { color: #ffdc00; }
    64%      { color: #b10dc9; }
    80%      { color: #ff4136; }
}

/* ---------------------------------------------------- */
/* end: top left 't' logo */
/* ---------------------------------------------------- */

.navigation-bar {
    z-index: 1000;
    display: block;
    position: fixed;
    min-width: 1000px;
    height: 56px;
    width: 100%;
    border-bottom: 0px;
    background-color: rgba(255, 255, 255, 0);
}

.logged-in {
    border-bottom: 1px solid #2232449f;
    background-color: #001935;
}

.navigation-bar-flexbox {
    margin: 0 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 12px;
}

.navigation-bar-flexbox li {
    display: inline-block;
    padding: 0px 10px;
}

.search-bar {
    margin-left: 20px;
    display: inline-block;
    flex: 1;
}

.search-bar input[type='text'] {
    display: inline-block;
    background-image: url('search-icon.svg');
    background-size: 20px;
    background-position: 10px 8px;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.25);
    border: 0px;
    height: 34px;
    max-width: 480px;
    width: 100%;
    border-radius: 3px;
    padding-left: 40px;
    opacity: 0.7;


    resize: horizontal;
}

.search-bar input[type=text]:focus {
    transition: 500ms ease;
    background-color: rgba(255, 255, 255, 0.8);
    opacity: 1;
    background-image: url('search-solid.svg');
    background-size: 20px;
}

.search-bar input[type=text]:focus::placeholder {
    transition: 500ms ease;
    color: black
}

.search-bar input[type='text']::placeholder {
    transition: 500ms ease;
    color: white;
}

.devlinks {
    margin-right: 50px;
    margin-left: 50px;
}

.logged-in-nav-bar-group {
    display: inline-block;
    box-sizing: border-box;
}

.icon {
    color: white;
    font-size: 24px;
    opacity: 0.65;
    padding: 0px 8px;
}

.icon:hover {
    opacity: 1;
    transition: 300ms ease;
}

.nav-bar-login-signup-button li {
    display: inline-block;
    box-sizing: border-box;
    height: 34px;
    margin: 0px 5px;
    border-radius: 3px;
    padding: 9px 11px;
    background-color: white;
    opacity: 0.7;
}

.nav-bar-login-signup-button li div {
    display: flex;
    text-decoration: none;
    color: #001935;
    font-weight: 600;
}

.signup-button:hover, .login-button:hover {
    cursor: pointer;
    transition: 300ms ease;
    opacity: 0.95;
}

.signup-button:active, .login-button:active {
    background-color: transparent;
}

.navigation-bar .navigation-bar-flexbox .icon:active {
    color: transparent;
}

.nav-bar-post {
    border: 0px;
    background-color: #00b8ff;
    height: 34px;
    width: 55px;
    font-size: 24px;
    color: #001935;
    border-radius: 5px;
    text-align: center;
}

.nav-bar-logout-button {
    background-color: transparent;
}

.nav-bar-post:hover, .nav-bar-logout-button:hover {
    opacity: 0.5;
    transition: 300ms ease;
}

.nav-bar-post:active {
    opacity: 0.3;
}