.login-form-background-container {
    z-index: -100;
    background-repeat: no-repeat;
    opacity: 0.1;
    background-color: #001935;
    background-size: cover;
}

.login-form-container {
    /* visibility: hidden; */
    padding-top: 100px;
    opacity: 0;
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;

    /* test for downward scrolling */
    /* padding-bottom: 10000px; */
    /* test */
}

.login-form-container h3 {
    font-size: 16px;
    color: #fff;
    font-weight: 300;
    margin: 9px;
    /* letter-spacing: 1px; */
    
}

.login-form-box {
    visibility: visible;
}

.tumblr-logo:hover {
    opacity: 0.8;
    transition: 300ms ease;
}

.login-form-tagline {
    margin: 16px 0px 20px 0px;
}

.login-form-container input {
    box-sizing: border-box; 
    width: 300px;
    height: 44px;
    padding-left: 11px;
    border: 0px;
    font-size: 16px;
    color: #222
}

.login-form-container input:hover {
    /* opacity: 0.8; */
    transition: 500ms ease;
    background-color: whitesmoke;
}

.login-form-container input:focus {
    opacity: 0.8;
    transition: 500ms ease;
}

.login-form-container .username {
    border-radius: 3px 3px 0px 0px;
    border-bottom: 1px solid lightgray;
}

.login-form-container .email {
    border-bottom: 1px solid lightgray;
}

.login-form-container .password {
    border-radius: 0px 0px 3px 3px;
}

.login-form-container .login-form-box .session-submit {
    box-sizing: border-box; 
    width: 300px;
    height: 44px;
    border: 0px;
    font-size: 16px;
    background-color: #00b8ff;
    margin-top: 10px;
    border-radius: 3px 3px 3px 3px;
    font-weight: 600;
    color: white;
}

.login-form-container .login-form-box .session-submit:hover {
    background-color: #47cbff;
    transition: 300ms ease;
}

.render-errors li {
    width: 300px;
    color: white;
    background-color: rgba(0, 0, 0, 0.33);
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 10px;
    line-height: 1.5em;
    border-radius: 3px 3px 3px 3px;
}

.demoUser {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
    font-size: 16px;
    opacity: 0.8;
    transition: 300ms ease;
}

.demoUser:hover {
    opacity: 1;
    transition: 300ms ease;
    cursor: pointer;
}

.demoUser:active {
    opacity: 0.3;
    transition: 300ms ease;
}

.fa-user-circle {
    margin-right: 11px;
    font-size: 22px;
}

/* load page animation below */

/* 1) background fade in */
.login-form-background-container {
    animation-fill-mode: forwards;
    /* animation-delay: .2s; */
    animation-duration: 0.5s;
    animation-name: fadein;
}

@keyframes fadein {
  from {
    margin-top: 3px;
    opacity: 0;
  }

  to {
    margin-top: 0%;
    opacity: 1;
  }
}

/* 2) form slideup & fadein */
.login-form-container {
    animation-fill-mode: forwards;
    animation-delay: .8s;
    animation-duration: 0.6s;
    animation-name: slidein;
}
/* 
@keyframes slidein {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
}
*/
@keyframes slidein {
  from {
    padding-top: 60px;
    opacity: 0;
  }

  to {
    padding-top: 0%;
    opacity: 1;
  }
}
