.sidebar-box {
    top: 72px;
    position: sticky;
    min-width: 320px;
    height: fit-content;
    margin-top: 20px;
    margin-left: 30px;
    color: rgba(255, 255, 255, 0.8);
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    letter-spacing: 0.03em;
    line-height: 1.08em;
}

.sidebar-title {
    font-size: 17px;
    font-weight: 600;
    padding: 0px 10px 8px;
    color: rgba(255, 255, 255, 0.8);
}

.sidebar-avatar-image {
    box-sizing: border-box;
    max-width: 36px;
    width: 36px;
    height: 36px;
    border-radius: 3px;
    border: none;
}

.sidebar-items {
  transition: opacity 2s linear;  
  transform:translate(0);
  opacity: 1;
}

.sidebar-item {
    border-top: 1px solid #2232449f;
    padding: 10px;
    transition: 250ms ease;
}

.sidebar-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transition: 250ms ease;
}

.sidebar-link-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* min-height: 56px; */
}

.sidebar-link-inner-box {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.sidebar-item-text {
    margin-left: 10px;
}

.sidebar-username {
    font-size: 14px;
    font-weight: bold;
}

.sidebar-tagline {
    font-size: 13px;
    font-weight: 500;
}

.sidebar-follow-button {
    font-size: 26px;
    color: rgba(255, 255, 255, 0.4);
    transition: 200ms ease;
}

.sidebar-follow-button:hover {
    color: #00b8ff;
    opacity: 1;
    transition: 200ms ease;
}

.sidebar-box a {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: inherit;
}







/* user sidebar  */
.sidebar-title {
    font-size: 17px;
    font-weight: 600;
    padding: 0px 10px 10px;
    color: rgba(255, 255, 255, 0.8);
}

.sidebar-tl {
    font-size: 14px;
    padding: 0px 10px;
    color: rgba(255, 255, 255, 0.5);
}

.sidebar-description {
    font-size: 13px;
    font-weight: 300;
    padding: 0px 10px 8px;
    color: rgba(255, 255, 255, 0.9);
}

.user-sidebar-item {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #2232449f;
    transition: 250ms ease;
    height: 54px;
    padding: 0px 10px;
}

// .user-sidebar-item:hover {
//     background-color: rgba(255, 255, 255, 0.1);
//     transition: 250ms ease;
// }

.sidebar-link-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* min-height: 56px; */
}

.sidebar-link-inner-box {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.sidebar-item-text {
    margin-left: 10px;
}

.sidebar-username {
    font-size: 14px;
    font-weight: bold;
}

.sidebar-tagline {
    font-size: 13px;
    font-weight: 500;
}

.sidebar-follow-button {
    font-size: 26px;
    color: rgba(255, 255, 255, 0.4);
    transition: 200ms ease;
}

.sidebar-follow-button:hover {
    color: #00b8ff;
    opacity: 1;
    transition: 200ms ease;
}

.sidebar-box a {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: inherit;
}



